doctype
html
	head
		title 个人简历
		meta(charset='utf-8')
		link(rel='stylesheet' href='css/index.css')
	body
		.container
					.nav-box
						.nav-top
							.header
							div.center.center-block.name 何建军
							div.center.center-block.job Web前端(实习生)
							div.center.center-block.pos 成都
							.detail
								div.age
									h1.center 20岁
									h4.center 
										i 年龄
								div
									h1.center 1年
									h4.center 
										i 工作经验
								div
									h1.center Web前端
									h4.center 
										i 	工作岗位
						.nav-btn
						div.nav-ls
							.about.active
								h1 
									i.icon.icon-linux
									|关&nbsp; 于&nbsp; 我
							.edu
								h1 学习经历
							.work
								h1 工作经历
							.tel
								h1 联系方式
					.content.active
						h1 关于我
					.content
						h1 学习经历
					.content
						h1 工作经历
					.content
						h1 联系方式

		script(src='js/jquery.js')
		script(src='js/index.js')